<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADAP4FRXLcXdsU3GVfprcQaeRh7T3b70s</string>
	<key>GCM_SENDER_ID</key>
	<string>682909527784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.AirbnbCloneSeccionA</string>
	<key>PROJECT_ID</key>
	<string>airbnb-a2023-2-f8e38</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-a2023-2-f8e38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682909527784:ios:7e4348a697b6d8fb84635d</string>
</dict>
</plist>